.titulo{
  text-align: center;
  color: #36419deb;
  width: 100%
}

.formContainer {
  text-align: center;
  width: 100%
}

.formItems1 {
  text-align: center;
  width: 100%;
}

.center {
  text-align: center;
}

textarea {
  resize: none;
}
