<mat-card class="view">

  <div class="header">
    DATOS DEL CLIENTE
  </div>
  <mat-card-content>

    <div class="nombre">
      <p><span>NOMBRE:</span> {{this.data.nombre}} </p>
    </div>

    <div>
      <p><span>EMAIL:</span> {{this.data.correo}}</p>
    </div>

    <div>
      <p><span>CP:</span> {{this.data.cp}}</p>
    </div>

    <div>
      <p><span>CALLE:</span> {{this.data.calle}}</p>
    </div>

    <div>
      <p><span>NÚMERO EXTERIOR:</span> {{this.data.numExt}}</p>
    </div>

  </mat-card-content>
  <mat-card-actions class="d-flex justify-content-end">
    <mat-icon (click)="dismiss()">highlight_off</mat-icon>
  </mat-card-actions>

</mat-card>
