<app-dash-header ></app-dash-header>
<mat-card>
  <mat-tab-group color="accent" backgroundColor="primary" mat-align-tabs="center" animationDuration="900ms">
    <mat-tab>
      <ng-template  mat-tab-label>
        <mat-icon class="example-tab-icon">sell</mat-icon>
        Venta Nueva
      </ng-template>
      <app-dash-pjsip></app-dash-pjsip>
    </mat-tab>

<!--    <mat-tab>-->
<!--      <ng-template mat-tab-label>-->
<!--        <mat-icon class="example-tab-icon">published_with_changes</mat-icon>-->
<!--        Renovaciones-->
<!--      </ng-template>-->
<!--      <app-dash-reno-pjsip></app-dash-reno-pjsip>-->
<!--    </mat-tab>-->
  </mat-tab-group>
</mat-card>
