.regresar a {
  text-decoration: none;
  font-size: 16px;
}

.regresar {
  display: flex;
  align-items: center;
}

table {
  width: 100%;
}

.mat-header-cell {
  background-color: #354089;
  color: white;
}
