<mat-card>
  <div class="campo">
    <div class="regresar">
      <div><mat-icon >keyboard_arrow_left</mat-icon></div>
      <div><span><a href="javascript: history.go(-1)">REGRESAR</a></span></div>
    </div>
  </div>
  <div fxLayoutAlign="end"> <!-- (click)="getFechas()" -->
    <button mat-icon-button>
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-card-title style="text-align: center; color: #354089" >
    HISTORIAL DE LLAMADAS
  </mat-card-title>
  <div fxLayout="row" fxLayoutAlign="space-between">
    <mat-form-field class="example-form-field" appearance="legacy">
      <mat-label>Filtrar</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
      <button matSuffix mat-icon-button aria-label="Clear" >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <mat-card-content>
    <div class="mat-elevation-z8">

      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">

        <!-- Position Column -->
        <ng-container matColumnDef="idLlamada">
          <th mat-header-cell *matHeaderCellDef> ID LLAMADA </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="idAsterisk">
          <th mat-header-cell *matHeaderCellDef> ID ASTERISK </th>
          <td mat-cell *matCellDef="let element"> {{element.idAsterisk}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="idSolicitud">
          <th mat-header-cell *matHeaderCellDef> ID SOLICITUD </th>
          <td mat-cell *matCellDef="let element"> {{element.idSolicitud}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef> FECHA INICIO </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaInicio | date:"dd/MM/yy HH:mm"}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="fechaFinal">
          <th mat-header-cell *matHeaderCellDef> FECHA FINAL </th>
          <td mat-cell *matCellDef="let element"> {{element.fechaFinal | date:"dd/MM/yy HH:mm"}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
