<div  style="overflow-y: scroll; height: 570px;">
  <div fxLayout="row" fxLayoutAlign="end" style="margin-top: 9px;">
    <button mat-icon-button color="primary" matTooltip="Cerrar" (click)="dismiss()">
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <mat-card-title fxLayout="row" fxLayoutAlign="center">
    Diferenciadores
  </mat-card-title>

  <mat-spinner *ngIf="!socios; else cuerpoModal"></mat-spinner>
  <ng-template #cuerpoModal >
    <mat-tab-group (selectedTabChange)="getImageSocio($event.index)" dynamicHeight>
      <mat-tab *ngFor="let socio of socios" label="{{socio.nombreComercial}}">
      </mat-tab>
    </mat-tab-group>
    <!--  style="text-align: center; margin: 2%; overflow-y: scroll; max-height: 40px;"-->
    <mat-card-content fxLayoutAlign="center">
      <mat-spinner *ngIf="loadImage"></mat-spinner>
      <img [src]="imagenesDelSocio[contador].linkImagen" *ngIf="imagenesDelSocio.length > 0 && loadImage === false" width="45%"/>
      <img [src]="socios[0].linkImagen" *ngIf="imagenesDelSocio.length === 0 && loadImage === false" width="45%"/>
    </mat-card-content>

    <div fxLayout="row" fxLayoutAlign="center ">
      <button mat-icon-button
              color="primary"
              matTooltip="Imagen anterior"
              style="margin-right: 16px;"
              [disabled]="contador === 0"
              (click)="moverContador(false)">
        <mat-icon>arrow_back_ios</mat-icon>
      </button>

      <button mat-icon-button
              color="primary"
              matTooltip="Imagen siguiente"
              [disabled]="contador === (imagenesDelSocio.length - 1) ||
                                      imagenesDelSocio.length === 0"
              (click)="moverContador(true)">
        <mat-icon>arrow_forward_ios</mat-icon>
      </button>


    </div>



  </ng-template>



  <!--<div style="width: 100%; text-align: end;">-->
  <!--  <button mat-icon-button color="primary" matTooltip="Cerrar" (click)="dismiss()">-->
  <!--    <mat-icon>close</mat-icon>-->
  <!--  </button>-->
  <!--</div>-->
  <!--<div style="text-align: center;">-->
  <!--  <mat-card-title>-->
  <!--    Esquemas de Socios-->
  <!--  </mat-card-title>-->
  <!--</div>-->
  <!--<mat-spinner *ngIf="!imagenes || !areas; else cuerpoModal"></mat-spinner>-->
  <!--<ng-template #cuerpoModal>-->
  <!--  <nav mat-tab-nav-bar>-->
  <!--    <a mat-tab-link *ngFor="let area of areas" [active]="activeTab === area.id"-->
  <!--       (click)="activeTab = area.id; getImagenes()">-->
  <!--      {{area.descripcion}}-->
  <!--    </a>-->
  <!--  </nav>-->
  <!--  <mat-card-content style="text-align: center; margin: 2%;">-->
  <!--    <img [src]="imagenes[contador]" width="90%"/>-->
  <!--  </mat-card-content>-->
  <!--  <div class="container">-->
  <!--    <div class="row align-items-center">-->
  <!--      <div class="col-6" style="text-align: end;">-->
  <!--        <button mat-icon-button color="primary" matTooltip="Imagen anterior"-->
  <!--                [disabled]="contador === 0" (click)="moverContador(false)">-->
  <!--          <mat-icon>arrow_back_ios</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--      <div class="col-6" style="text-align: left;">-->
  <!--        <button mat-icon-button color="primary" matTooltip="Imagen siguiente"-->
  <!--                [disabled]="contador === (imagenes.length - 1)" (click)="moverContador(true)">-->
  <!--          <mat-icon>arrow_forward_ios</mat-icon>-->
  <!--        </button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <!--</ng-template>-->


</div>
