<div style="width: 100%; text-align: end;">
  <button mat-icon-button color="primary" matTooltip="Cerrar" (click)="dismiss()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div style="text-align: center;">
  <mat-card-title>
    Esquemas de comisiones
  </mat-card-title>
</div>
<mat-spinner *ngIf="!imagenes || !areas; else cuerpoModal"></mat-spinner>
<ng-template #cuerpoModal>
  <nav mat-tab-nav-bar>
    <a mat-tab-link *ngFor="let area of areas" [active]="activeTab === area.id"
       (click)="activeTab = area.id; getImagenes()">
      {{area.descripcion}}
    </a>
  </nav>
  <mat-card-content style="text-align: center; margin: 2%;">
    <img [src]="imagenes[contador]" width="90%"/>
  </mat-card-content>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-6" style="text-align: end;">
        <button mat-icon-button color="primary" matTooltip="Imagen anterior"
                [disabled]="contador === 0" (click)="moverContador(false)">
          <mat-icon>arrow_back_ios</mat-icon>
        </button>
      </div>
      <div class="col-6" style="text-align: left;">
        <button mat-icon-button color="primary" matTooltip="Imagen siguiente"
                [disabled]="contador === (imagenes.length - 1)" (click)="moverContador(true)">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
    </div>
  </div>

</ng-template>
