<mat-card *ngIf="permisos.EMI?.polizasEmitidas">

  <div fxLayoutAlign="end" >
    <button mat-icon-button (click)="getEmisiones(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-card-title style="text-align: center; color: #354089" >

  PÓLIZAS EMITIDAS
  </mat-card-title>

  <div fxLayout="row" fxLayoutAlign="space-between" >
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label" fxFlex="30">Inicio</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label>Fecha de inicio</mat-label>
        <input matInput [matDatepicker]="picker" disabled
               [(ngModel)]="rangeDates[0]"
               [value]="rangeDates[0]"
               [max]="max"
               matTooltip="Agregar fecha inicio">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayoutAlign="space-between center" fxFlex="30">
      <label class="fechas-label"  fxFlex="30">Fin</label>
      <mat-form-field appearance="fill" fxFlex="70">
        <mat-label >Fecha final</mat-label>
        <input matInput [matDatepicker]="picker2" disabled
               [(ngModel)]="rangeDates[1]"
               [value]="rangeDates[1]"
               matTooltip="Agregar fecha final">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>

  </div>
  <div fxLayout="row" fxLayoutAlign="end" >


    <div fxLayoutAlign="end" fxLayoutGap="10px" fxFlex="60" style="margin-bottom: 14px;">
      <button mat-raised-button
              fxFlex="50"
              *ngIf="permisos?.RENO?.pendientesReno?.fechas"
              (click)="getEmisiones(false)">
        DESPLEGAR FECHAS
      </button>
    </div>

  </div>
    <button mat-raised-button
            (click)="descargar()"
    >
      DESCARGAR
    </button>

  <div class="col-md-1"></div>
  <div>

    <div>
      <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px; width: 16%;">
        <mat-label>Filtrar por {{filter.name}}</mat-label>
        <input matInput
               #message
               [(ngModel)]="filter.modelValue"
               [placeholder]="filter.columnProp"
               (keyup)="filterChange(filter, message)">
      </mat-form-field>
      &nbsp;
      <button mat-flat-button
              color="warn"
              (click)="resetFilters()">
        Reset
      </button>
    </div>

  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"> DETALLE</th>
          <td mat-cell *matCellDef="let element" style="text-align: center;">
            <mat-icon (click)="detallePoliza(element.idRegistro)"
                      id="verDetalles"
                      *ngIf="permisos?.EMI?.polizasEmitidas?.detalles"
                      MatTooltip="Ver detalles"
                      mat-raised-button>
              remove_red_eye
            </mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="poliza"  *ngIf="true">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>POLIZA</th>
          <td mat-cell *matCellDef="let element">
            {{element.poliza}}</td>
        </ng-container>

        <ng-container matColumnDef="idEmpleadoRenovacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ID EMPLEADO RENOVACIÓN</th>
          <td mat-cell *matCellDef="let element">
            {{element.idEmpleadoRenovacion}}</td>
        </ng-container>

        <!--<ng-container matColumnDef="nombreEmpleado">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>NOMBRE EMPLEADO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombre +' '+ element.apellidoPaterno+' '+ element.apellidoMaterno}}</td>
        </ng-container>-->

        <ng-container matColumnDef="polizaVieja">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>POLIZA VIEJA</th>
          <td mat-cell *matCellDef="let element">
            {{element.polizaVieja}}</td>
        </ng-container>

        <ng-container matColumnDef="primaNeta"  *ngIf="true">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIMA NETA</th>
          <td mat-cell *matCellDef="let element">
            {{element.primaNeta | currency: 'MXN'}}</td>
        </ng-container>

        <ng-container matColumnDef="primaNetaAnterior">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIMA NETA ANTERIOR</th>
          <td mat-cell *matCellDef="let element">
            {{element.primaNetaAnterior | currency: 'MXN'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="primaTotal">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PRIMA TOTAL</th>
          <td mat-cell *matCellDef="let element">
            {{element.primaTotal | currency: 'MXN'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="porcentaje"  *ngIf="true">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> PORCENTAJE</th>
          <td mat-cell *matCellDef="let element">
            {{element.variacion | percent: '1.2'}}</td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio"  *ngIf="true">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> FECHA INICIO</th>
          <td mat-cell *matCellDef="let element">
            {{element.fechaInicio | date : 'd MMM y'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="tipoPago"  *ngIf="true">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPO DE PAGO</th>
          <td mat-cell *matCellDef="let element">
            {{element.tipoPago}}</td>
        </ng-container>

        <ng-container matColumnDef="estadoRenovacion">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ESTADO</th>
          <td mat-cell *matCellDef="let element">
            <!--            {{element.estadoRenovacion}}</td>-->
            {{element.estadoRenovacion}}</td>
        </ng-container>

        <ng-container matColumnDef="nombreComercial"  *ngIf="true">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> SOCIO</th>
          <td mat-cell *matCellDef="let element">
            {{element.nombreComercial}}</td>
        </ng-container>

        <ng-container matColumnDef="tipificacion"  *ngIf="true">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> TIPIFICACION</th>
          <td mat-cell *matCellDef="let element">
            {{element.tipificacion}}</td>
        </ng-container>

        <ng-container matColumnDef="etiqueta"  *ngIf="true">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ETIQUETA EMISION</th>
          <td mat-cell *matCellDef="let element">
            {{element.etiqueta}}</td>
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;">  <span >ACCIONES</span> </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon MatTooltip="Editar datos"
                        mat-raised-button
                        *ngIf="permisos?.EMI?.polizasEmitidas?.editarDatos"
                        (click)="registroEmisiones(element)">
                edit
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" [ngClass]="{'warning': !row.idPago, 'greeat' : row.idPago}"></tr>
        <!--            [ngClass]="{'greeat': row.variacion >= 0, 'warning': row.variacion < 0 && row.variacion >= -0.10, 'polizasMas10': row.variacion > 0.10 }"></tr>-->
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
    <!--  </nb-card-body>-->
  </mat-card-content>
  </div>
</mat-card>
