.example-container {

  max-width: 100%;
  overflow: auto;
}

table {
  width: 1200px;
}

td.mat-column-star {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position, td.mat-column-position {
  padding-left: 8px;
}

.mat-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-table-sticky-border-elem-left {
  border-right: 1px solid #e0e0e0;
}

.actions {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}


th.mat-sort-header-sorted {
  color: black;
}


.mff {
  width: 100% !important;
  text-align: end;
}

.flexStyle {
  width: 100%;
  height: auto;
  display: inline-flex;
}
.mat-form-field {
  width: 40%;
  color: #111218;
}
.mat-input-element {
  color: #111218;
}
.mat-header-cell {
  background-color: #354089;
  color: white;
}

.mat-icon-disabled {
  color: #ccc!important;
  cursor: not-allowed;
}
.timePicker {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: solid 1px #666666;
  cursor: pointer;
  outline: none;
  color: #666;
  margin-right: 17px;
  width: 120px;
}
.fechas-label {
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-right: 10px;
}
.pickTimes {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #666666;
}
.btnDesplegar { width: 200px; height: 50px;}
.btnDesplegar:disabled {background-color: #fff;}
#tableContainer {
  overflow: auto;
  padding: 0;
  margin: 0;
}
.buttonsContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: content-box;
  margin-left: 20px;
}
.buttonsVN:hover {
  color: #fff;
  background: #df1d52;
  background: linear-gradient(to right, #df1d52, #364088);
}
mat-progress-bar {width: 150px;}

// Estilos para resaltar las filas
.warning {
  background: rgba(255, 127, 127, 1);
}

.greeat {
  background: #d7ffcf;
}

.polizasMas10 {
  background: rgba(151, 151, 151, 1);
}
table {
  width: 100%;
}

th.mat-header-cell, td.mat-cell{
  text-align: center !important;
}
:host ::ng-deep .mat-sort-header-container {
  display: flex;
  justify-content: center;
}
