.nothing {
  width: 10px;
  height: 5px;
  border: none;
  background-color: transparent;
}

.Container {
  width: 100%;
  height: auto;
}

mat-card {
  padding: 0;
}

.mat-dialog-container {
  padding: 0;
}
