<mat-card class="header">
  <div>
    <p class="titulo">{{nombre | titlecase}}</p>
    <div class="iconWrapper" *ngIf="smallBreak" [matMenuTriggerFor]="menu"><mat-icon>expand_more</mat-icon></div>
    <div class="prueba"  *ngIf="!smallBreak">
      <p class="infoText">SEDE: <span>{{infoArea.sede}}</span> / ÁREA: <span>{{infoArea.area}}</span> / DEPARTAMENTO: <span>{{infoArea.depto}}</span> / ID: <span>{{infoArea.id}}</span> / USUARIO: <span>{{infoArea.usuario}}</span> / PUESTO: <span>{{infoArea.puestoE}}</span> </p>
    </div>
    <mat-menu #menu="matMenu" class="menuNombreDash">
      <p class="infoText">SEDE: <span>{{infoArea.sede}}</span> / ÁREA: <span>{{infoArea.area}}</span> / DEPARTAMENTO: <span>{{infoArea.depto}}</span> / ID: <span>{{infoArea.id}}</span> / USUARIO: <span>{{infoArea.usuario}}</span> / PUESTO: <span>{{infoArea.puestoE}}</span> </p>
    </mat-menu>
  </div>
</mat-card>
