<mat-card class="example-card" *ngIf="permisos?.EMI?.polizasEmitir?.detalles || permisos?.EMI?.polizasEmitidas?.detalles">
  <!--    boton regresar-->
  <div class="campo">
    <div class="regresar" (click)="cerrarWindow()">
      <mat-icon >keyboard_arrow_left</mat-icon><span>REGRESAR</span>
    </div>
  </div>

  <mat-card-content class="content-center" >
    <mat-card class="poliza" *ngIf="detallesPoliza && dCliente" >

      <div class="heade">
        <div class="text">Póliza</div>
        <div class="title-content"></div>
      </div>

      <mat-card-header>
        <mat-card-title class="card-title" >
          {{ dCliente.nombre + ' ' + dCliente.paterno + ' ' + dCliente.materno}}
        </mat-card-title>
      </mat-card-header>

      <mat-card-content class="poliza-content" >
        <!-- Datos Personales-->

        <div style="height: 80px;"></div>
        <div class="titulos">
          <b>DATOS PERSONALES</b>
        </div>
        <mat-list role="list">
          <mat-list-item role="listitem">
            <p><span>NOMBRE:</span> {{dCliente.nombre}}</p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p>
              <span>APELLIDOS:</span> {{dCliente.paterno}} {{dCliente.materno}}
            </p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p>
              <span>TELEFONO:</span> {{dCliente.telefonoMovil}}
            </p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p>
              <span>CORREO:</span> {{dCliente.correo}}
            </p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p><span>GENERO:</span> {{dCliente.genero}}</p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p><span>FECHA DE NACIMIENTO:</span> {{dCliente.fechaNacimiento}}</p>
          </mat-list-item>
          <mat-list-item role="listitem">
            <p ><span>CÓDIGO POSTAL:</span> {{dCliente.cp}}</p>
          </mat-list-item>
        </mat-list>

        <div class="titulos">
          <b>PRODUCTO CLIENTE</b>
        </div>

        <mat-list role="list" >
          <mat-list-item role="listitem" >
            <p><span>PRODUCTO:</span> AUTO </p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>MODELO:</span> {{datoCliente.modelo}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>MARCA:</span> {{datoCliente.marca}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>CLAVE:</span> {{datoCliente.clave}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>NÚMERO DE MOTOR:</span> {{datoCliente.numeroMotor}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>NÚMERO DE PLACAS:</span> {{datoCliente.numeroPlacas}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>DESCRIPCIÓN:</span> {{datoCliente.descripcion}}</p>
          </mat-list-item>


          <mat-list-item role="listitem">
            <p ><span>SERVICIO:</span> {{datoCliente.servicio}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>PAQUETE:</span> {{datoCliente.paquete}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>DESCUENTO:</span> {{datoCliente.paquete}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>MOVIMIENTO:</span> {{datoCliente.movimiento}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>ASEGURADORA:</span> {{datoCliente.aseguradora}}</p>
          </mat-list-item>


          <div class="titulos">
            <b>REGISTRO DE POLIZA</b>
          </div>

          <mat-list-item role="listitem">
            <p ><span>NÚMERO POLIZA:</span> {{detallesPoliza.poliza}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>PRIMA NETA:</span> {{detallesPoliza.primaNeta}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>FECHA REGISTRO:</span> {{detallesPoliza.fechaRegistro}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>FECHA INICIO:</span> {{detallesPoliza.fechaInicio}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>TIPO DE PAGO:</span> {{detallesPoliza.tipoPago}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>CANTIDAD DE PAGOS:</span> {{detallesPoliza.cantidadPagos}}</p>
          </mat-list-item>

          <mat-list-item role="listitem">
            <p ><span>ESTADO PÓLIZA:</span> {{detallesPoliza.estado}}</p>
          </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>

  </mat-card-content>
</mat-card>



