 <div class="row">
    <div class="col-sm-6">
      <div mat-dialog-content>
        <p>
          Speech
        </p>
      </div>
    </div>
    <div class="col-sm-6">
      <h2>Solicitud: {{data.id}}</h2>
      <div>
        <p>Nombre: {{data.CotizacionesAli.Cotizacione.ProductoSolicitud.Prospecto.nombre}}</p>
        <p>Correo: {{data.CotizacionesAli.Cotizacione.ProductoSolicitud.Prospecto.correo}}</p>
        <p>Número: {{data.CotizacionesAli.Cotizacione.ProductoSolicitud.Prospecto.numero}}</p>
        <p> Marca: {{data.CotizacionesAli.peticion.marca}}</p>
        <p> Detalle: {{data.CotizacionesAli.peticion.descripcion}}</p>
        <p> Modelo: {{data.CotizacionesAli.peticion.modelo}}</p>
        <p> Aseguradora: {{data.CotizacionesAli.peticion.aseguradora}}</p>
      </div>
    </div>
  </div>
<mat-dialog-actions align="end">
  <button mat-stroked-button color="primary">Generar emisión</button>
</mat-dialog-actions>
