<audio id="audio_remote" autoplay="autoplay"></audio>

<button mat-icon-button style="outline: none;" matTooltip="Colgar llamada" (click)="colgar()">
  <mat-icon>call_end</mat-icon>
</button>

<button mat-icon-button style="outline: none;" *ngIf="dialogoData" matTooltip="Informaciíon" (click)="abrirDialogo()">
  <mat-icon>info</mat-icon>
</button>

<button mat-icon-button style="outline: none;" (click)="transferir = true" matTooltip="Transferir llamada">
  <mat-icon>phone_forwarded</mat-icon>
</button>
<form class="example-form" *ngIf="transferir">
  <mat-form-field class="example-full-width">
    <mat-label style="color: white;">Transferencias</mat-label>
    <input type="text"
           aria-label="Number"
           matInput
           #message
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <button mat-button matSuffix mat-icon-button aria-label="send" [disabled]="message.value.length < 4" (click)="transfer(message.value)">
      <mat-icon>send</mat-icon>
    </button>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option.nombreCampania" (click)="message.value = option.numeroTelefono">
        {{option.nombreCampania}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<button mat-icon-button style="outline: none;" matTooltip="Mute">
  <mat-icon (click)="mute(1)" *ngIf="estadoMute">mic_off</mat-icon>
  <mat-icon (click)="mute(2)" *ngIf="!estadoMute">micro</mat-icon>
</button>

<button mat-icon-button style="outline: none;" matTooltip="Pausar/Reanudar">
  <mat-icon (click)="hold(1)" *ngIf="holdStatus">pause</mat-icon>
  <mat-icon (click)="hold(2)" *ngIf="!holdStatus">play_circle</mat-icon>
</button>

<p>Llamada a: {{data.numero}}</p>
<div style="font-size: 20px;">{{counter * 1000 | date:'mm:ss'}}</div>
