<mat-card-title>
  Crear cliente
</mat-card-title>
<mat-card-content>
  <mat-slide-toggle (change)="cambioTipoCliente()">{{textoToogle}}</mat-slide-toggle>
  <form [formGroup]="clienteForm">
    <mat-form-field>
      <input matInput placeholder="NOMBRE *" formControlName="nombre" autocomplete="off"
             oninput="value = value.toUpperCase()"/>
      <mat-error *ngIf="clienteForm.controls['nombre'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="clienteForm.controls['nombre'].hasError('pattern')">
        Este campo solo acepta letras
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="clienteForm.controls['razonSocial'].value === 1">
      <input matInput placeholder="APELLIDO PATERNO *" formControlName="paterno" autocomplete="off"
             oninput="value = value.toUpperCase()"/>
      <mat-error *ngIf="clienteForm.controls['paterno'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="clienteForm.controls['paterno'].hasError('pattern')">
        Este campo solo acepta letras
      </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="clienteForm.controls['razonSocial'].value === 1">
      <input matInput placeholder="APELLIDO MATERNO *" formControlName="materno" autocomplete="off"
             oninput="value = value.toUpperCase()"/>
      <mat-error *ngIf="clienteForm.controls['materno'].hasError('required')">
        Este campo es <strong>requerido</strong>
      </mat-error>
      <mat-error *ngIf="clienteForm.controls['materno'].hasError('pattern')">
        Este campo solo acepta letras
      </mat-error>
    </mat-form-field>
  </form>
</mat-card-content>
<mat-card-actions>
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-4">
        <button mat-button style="color: white;" (click)="dismiss(false)">Cerrar</button>
      </div>
      <div class="col-4">
        <button mat-button style="color: white;" (click)="crearCliente()" [disabled]="!clienteForm.valid">Guardar cliente</button>
      </div>
    </div>
  </div>
</mat-card-actions>
