<!--<mat-card class="example-form">-->
<mat-card-title class="title">REGISTRO PÓLIZA
  <div class="col align-self-center">
    <a style=" color: #000; font-size: 1.1rem;">Todos los datos que tienen un asterisco  (<b
      style="color: red;">*</b>) son requeridos</a>
  </div>
</mat-card-title>
<!--<mat-card-title *ngIf="mostrar === true">ACTUALIZAR PROSPECTO</mat-card-title>-->
<mat-card-content>
    <span>
      {{instrucciones}}
    </span>
  <form [formGroup]="registroForm">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="form-group">
          <mat-form-field>
            <mat-label>TIPO PAGO *</mat-label>
            <mat-select formControlName="idTipoPago">
              <mat-option *ngFor="let tipoPago of tipoPagos" (click)="tipoPago.id === 4 ? getPeriodicidadFilter() : getPeriodicidad()" [value]="tipoPago.id" id="idTipoPago">
                {{tipoPago.tipoPago}}
              </mat-option>
            </mat-select>
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint *ngIf="!registroForm.controls['idTipoPago'].valid&&registroForm.controls['idTipoPago'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>SOCIO *</mat-label>
            <mat-select formControlName="idSocio" [disabled]="this.data.tipo === 10">
              <mat-option *ngFor="let socio of socios" [value]="socio.id" id="idSocio" (click)="getRamo(socio.id)">
                {{socio.nombreComercial}}
              </mat-option>
            </mat-select>
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint
              *ngIf="!registroForm.controls['idSocio'].valid&&registroForm.controls['idSocio'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field *ngIf="registroForm.controls['idSocio'].value !== ''">
            <mat-label>RAMO *</mat-label>
            <mat-select formControlName="idRamo"  [disabled]="this.data.tipo === 10">
              <mat-option *ngFor="let ramo of ramos" [value]="ramo.id" id="idRamo" (click)="getSubRamo(ramo.id)">
                {{ramo.tipoRamo}}
              </mat-option>
            </mat-select>
            <div *ngIf="loaderR" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint
              *ngIf="!registroForm.controls['idRamo'].valid&&registroForm.controls['idRamo'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field *ngIf="registroForm.controls['idRamo'].value !== ''">
            <mat-label>SUBRAMO *</mat-label>
            <mat-select formControlName="idSubRamo" [disabled]="this.data.tipo === 10">
              <mat-option *ngFor="let subRamo of subRamos" [value]="subRamo.id" id="idSubRamo"
                          (click)="getProductoSocio(subRamo.id)">
                {{subRamo.tipoSubRamo}}
              </mat-option>
            </mat-select>
            <div *ngIf="loaderSR" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint
              *ngIf="!registroForm.controls['idSubRamo'].valid&&registroForm.controls['idSubRamo'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field *ngIf="registroForm.controls['idSubRamo'].value !== ''">
            <mat-label>PRODUCTO SOCIO *</mat-label>
            <mat-select formControlName="idProductoSocio">
              <mat-option *ngFor="let pSocio of productosSocio" [value]="pSocio.id" id="idProductoSocio">
                {{pSocio.tipoProducto}}
              </mat-option>
            </mat-select>
            <div *ngIf="loaderPS" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint
              *ngIf="!registroForm.controls['idProductoSocio'].valid&&registroForm.controls['idProductoSocio'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <!--          <mat-form-field *ngIf="registroForm.controls['idTipoBandejaRenovacion'].value !== ''">-->
          <mat-form-field>
            <mat-label>TIPO BANDEJA *</mat-label>
            <mat-select formControlName="idTipoBandejaRenovacion">
              <mat-option *ngFor="let bandeja of bandejas" [value]="bandeja.id" id="idTipoBandejaRenovacion">
                {{bandeja.bandeja}}
              </mat-option>
            </mat-select>
            <div *ngIf="loaderBandeja" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint
              *ngIf="!registroForm.controls['idTipoBandejaRenovacion'].valid&&registroForm.controls['idTipoBandejaRenovacion'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>ESTADO *</mat-label>
            <mat-select formControlName="estado">
              <mat-option *ngFor="let estado of estadoPoliza" [value]="estado.id" id="estado">
                {{estado.estado}}
              </mat-option>
            </mat-select>
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint
              *ngIf="!registroForm.controls['estado'].valid&&registroForm.controls['estado'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-checkbox #checkin *ngIf="urlPreventa === 1">URL PREVENTA</mat-checkbox>

        </div>
      </div>
      <div class="col-6">
        <div class="form-group">

          <mat-form-field>
            <input readonly matInput [matDatepicker]="picker" placeholder="INICIO DE VIGENCIA *" id="fechaInicio"  onpaste="return true" oncopy="return false"
                   formControlName="fechaInicio" autocomplete="false">
            <mat-datepicker-toggle matTooltip="Agregar fecha" matSuffix [for]="picker" matTooltip="Agregar fecha"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint *ngIf="!registroForm.controls['fechaInicio'].valid&&registroForm.controls['fechaInicio'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <mat-label>VIGENCIA DE PÓLIZA *</mat-label>
            <mat-select formControlName="periodo">
              <mat-option *ngFor="let periodo of periodicidad" [value]="periodo.id" id="periodo">
                {{periodo.nombre}}
              </mat-option>
            </mat-select>
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint *ngIf="!registroForm.controls['periodo'].valid&&registroForm.controls['periodo'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="oficina" id="oficina"   onpaste="return true" oncopy="return false"
                   oninput="this.value = this.value.toUpperCase()" placeholder="OFICINA"
                   onDrop="return false"  autocomplete="off"/>
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="poliza" id="poliza" onpaste="return true" oncopy="return false"
                   oninput="this.value = this.value.toUpperCase()" placeholder="POLIZA *"
                   onDrop="return false"  autocomplete="off" />
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-error *ngIf="registroForm.controls['poliza'].hasError('required')">
              Se requiere llenar el campo
            </mat-error>
            <mat-error *ngIf="registroForm.controls['poliza'].hasError('pattern')">
              La nomenclatura correcta para una poliza de {{socio.nombreComercial}} es: {{socio.ejemploExpresionRegular}}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="primaNeta" id="primaNeta" maxlength="10"  onpaste="return true" oncopy="return false"
                   placeholder="PRIMA NETA GENERAL *" onDrop="return false"  autocomplete="off"/>
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint *ngIf="!registroForm.controls['primaNeta'].valid&&registroForm.controls['primaNeta'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field>
            <input matInput type="text" formControlName="primerPago" id="primerPago"  onpaste="return true" oncopy="return false"
                   placeholder="PRIMA NETA DEL PRIMER PAGO *" onDrop="return false"  autocomplete="off"/>
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint *ngIf="!registroForm.controls['primerPago'].valid&&registroForm.controls['primerPago'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>

          <mat-form-field *ngIf="getNumeroPagos() > 1">
            <input matInput type="text" formControlName="pagoMensual" id="mensualidades"   onpaste="return true" oncopy="return false"
                   placeholder="PRIMA NETA DE LAS MENSUALIDADES *" onDrop="return false" autocomplete="off"/>
            <div *ngIf="loader" class="spinner-border text-primary" role="status">
              <span class="sr-only">Loading...</span>
            </div>
            <mat-hint *ngIf="!registroForm.controls['pagoMensual'].valid&&registroForm.controls['pagoMensual'].dirty">
              Se requiere llenar el campo
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</mat-card-content>

<mat-card-actions align="end">
  <!--  <button style="color: white;" [disabled]="desactivarBotones" mat-raised-button [ngClass]="{'btns': !'[disabled]'}" (click) = "fileInput.click()"  >-->
  <!--    Guardar Documento-->
  <!--    <input hidden accept="application/pdf" type="file" #fileInput (change)="almacenarArchivo()" onpaste="return true" oncopy="return false"/>-->
  <!--  </button>-->

  <!--  <button style="color: white;" mat-button [disabled]="validarCampos()" *ngIf="!gruposCargados" [ngClass]="{'btns': !'[disabled]'}" (click)="modificarDatosRegistro()">-->
  <div class="row" *ngIf="loaderButton">
    <div class="spinner-border text-primary" role="status">
      <span class="sr-only">Loading...</span>
    </div><p class="mr-4 ">Cargando..</p>
  </div>
  <button *ngIf="!loaderButton" style="color: white;" mat-button [disabled]="this.registroForm.invalid" [ngClass]="{'btns': !'[disabled]'}" (click)="modificarDatosRegistro()">
    Modificar
  </button>
  <!--    <button mat-button [disabled]="!archivoValido" *ngIf="!gruposCargados && this.idRegistroPoliza !== 0" [ngClass]="{'btns': !'[disabled]'}"-->
  <!--            (click)="subirADrive('poliza', this.idRegistroPoliza)">-->
  <!--      Subir Archivo-->
  <!--    </button>-->

</mat-card-actions>
<!--</mat-card>-->
