<mat-card class="example-form" *ngIf="permisos?.EMI?.clientes">

  <div fxLayoutAlign="end" >
    <button mat-icon-button (click)="getClientes(true)">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <mat-card-title style="text-align: center; color: #354089" >
    Clientes
  </mat-card-title>
  <mat-card-content>
    <div class="container">
      <div class="row">
        <div class="col">
          <button mat-raised-button
                  color="primary"
                  *ngIf="permisos?.EMI?.clientes?.crearCliente"
                  (click)="crearCliente()">
            Crear cliente
          </button>
        </div>
        <div class="col">

        </div>
      </div>
    </div>
    <div class="col-md-1"></div>
    <div>
      <mat-form-field *ngFor="let filter of filterSelectObj" style="margin-left: 15px; width: 10%;">
        <mat-label>Filtrar por {{filter.name}}</mat-label>
        <input matInput #message [(ngModel)]="filter.modelValue" [placeholder]="filter.columnProp" (keyup)="filterChange(filter, message)">
      </mat-form-field>
      <button mat-flat-button
              color="warn"
              *ngIf="permisos?.EMI?.clientes?.reseteo"
              (click)="resetFilters()">
        Reset
      </button>
    </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="detalles">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> DETALLES </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <mat-icon (click)="detallesCliente(element)"
                    id="verDetalles"
                    matTooltip="Ver detalles"
                    mat-raised-button>
            remove_red_eye
          </mat-icon>
        </td>
      </ng-container>

      <ng-container matColumnDef="curp">
        <th mat-header-cell *matHeaderCellDef> CURP </th>
        <td mat-cell *matCellDef="let element">
          <a *ngIf="element.curp; else elseCurp">
            {{element.curp}}
          </a>
          <ng-template #elseCurp>
            <a class="sinDato">SIN DATO DISPONIBLE</a>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="rfc">
        <th mat-header-cell *matHeaderCellDef> RFC </th>
        <td mat-cell *matCellDef="let element">
          <a *ngIf="element.rfc; else elseRfc">
            {{element.rfc}}
          </a>
          <ng-template #elseRfc>
            <a class="sinDato">SIN DATO DISPONIBLE</a>
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef> NOMBRE </th>
        <td mat-cell *matCellDef="let element">
          <a *ngIf="element.paterno && element.materno; else elseBlock">
            {{element.paterno + ' '+ element.materno + ' '+element.nombre}}
          </a>
          <ng-template #elseBlock>
            {{element.nombre}}
          </ng-template>
        </td>
      </ng-container>

      <ng-container matColumnDef="telefono">
        <th mat-header-cell *matHeaderCellDef> TELEFONO </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'sinDato': element.telefonoMovil === 'POR CORREGIR'}">
          {{element.telefonoMovil}}
        </td>
      </ng-container>

      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;"> ACCIONES </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;">
          <mat-icon matTooltip="Registrar póliza"
                    [routerLink]="['/modulos/emisiones/registro-poliza-cli', element.id]"
                    mat-raised-button
                    *ngIf="permisos?.EMI?.clientes?.regPoliza">
            assignment
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="cols"></tr>
      <tr mat-row *matRowDef="let row; columns: cols;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
