<div *ngIf="permisos.EMI?.polizasEmitir">

  <br>
  <mat-card>


    <mat-card-title style="text-align: center; color: #354089" >
      PÓLIZAS A EMITIR
    </mat-card-title>

    <div class="button-input">
      <div class="row">
        <div>
          <div class="button mb-2 ml-4">
            <button class="button-color-text"
                    mat-raised-button
                    (click)="fileInput.click()"
                   >
              Subir excel
              <input hidden accept="application/xlsx" type="file" #fileInput (change)="almacenarExcel()" />
            </button>
          </div>
        </div>
        <div class="button mb-2 ml-4">
          <a [href]=link target="_blank" >
            <button class="button-color-text"
                    mat-raised-button
                  >
              Abrir plantilla
            </button>
          </a>
        </div>
        <div class="button mb-2 ml-4" *ngIf="error">
          <a [href]="fileUrl"  download="file.txt">
            <button class="button-color-text"
                    mat-raised-button
            >
              Descargar Error
            </button>
          </a>
        </div>
      </div>

      <!--      <div class="col-md-5">-->

    </div>
  </mat-card>

</div>
