<div *ngIf="permisos?.trigaranteEscucha?.asignarArea">
  <mat-card-title class="titulo" xmlns="http://www.w3.org/1999/html">
    <p class="center">SEGMENTAR ÁREA</p>
  </mat-card-title>
  <mat-card-content class="formContainer">
    <mat-spinner *ngIf="!areas; else cargo"></mat-spinner>
    <ng-template #cargo>
      <form>
        <div>
          <mat-form-field>
            <mat-label>Areas</mat-label>
            <mat-select [formControl]="idArea">
              <input class="filter" (keyup)="onKey($event.target.value)" placeholder="¿Qué área estás buscando?" autocomplete="off">
              <mat-option *ngFor="let area of areas" [value]="area.id">{{area.nombre}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </form>
    </ng-template>
  </mat-card-content>
  <mat-dialog-actions>
    <button  mat-raised-button class="button-modal" (click)="cerrar(false)">Cerrar</button>
    <button  mat-raised-button class="button-modal centradoDerecha" [disabled]="idArea.invalid" (click)="registrar()">Registrar</button>
  </mat-dialog-actions>
</div>
