<mat-card>
  <mat-card-title style="text-align: center; color: #354089">
    Llamadas outbound actuales
  </mat-card-title>

  <h4>Esta página se recargará en: {{counter}} s</h4>
<!--  <div class="flex-container">-->
<!--    <div class="reload-all">-->
<!--      <div class="icon-all">-->
<!--        <button mat-icon-button (click)="getLlamadas()">-->
<!--          <mat-icon>refresh</mat-icon>-->
<!--        </button>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
  <mat-card-content>
    <div>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 ">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> id llamada</th>
          <td mat-cell *matCellDef="let element">
            {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre</th>
          <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="extension">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> extension</th>
          <td mat-cell *matCellDef="let element">
            {{element.extension}} </td>
        </ng-container>

        <ng-container matColumnDef="fechaInicio">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> fechaInicio</th>
          <td mat-cell *matCellDef="let element"> {{element.fechaInicio | date:"dd/MM/yy HH:mm" }} </td>
        </ng-container>

        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> numero</th>
          <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="campania">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>CAMPAÑA</th>
          <td mat-cell *matCellDef="let element">
            {{element.subarea}}
        </ng-container>

        <ng-container matColumnDef="tiempo">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>TIEMPO EN LLAMADA</th>
          <td mat-cell *matCellDef="let element">
            {{element.tiempo}}
        </ng-container>

        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef style="text-align: center;"><span >ACCIONES</span>
          </th>
          <td  mat-cell *matCellDef="let element">
            <div class="actions">
              <mat-icon pTooltip="Espiar llamada" (click)="openDialog(element.nombre, element.extension)">person_search
              </mat-icon>

              <mat-icon pTooltip="Couching"  mat-raised-button (click)="openDialog(element.nombre, element.extension)">supervised_user_circle
              </mat-icon>

              <mat-icon pTooltip="Conferencia"  mat-raised-button (click)="openDialog(element.nombre, element.extension)">groups
              </mat-icon>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayColums"></tr>
        <tr mat-row *matRowDef="let row; columns: displayColums;"></tr>
      </table>
      <mat-paginator [pageSizeOptions]="[10,15,20]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>

