<mat-card-title> AGREGAR NÚMERO A LA SOLICITUD {{data.idSolicitud || data.idRegistro}} </mat-card-title>
<mat-card-content>
  <mat-form-field>
    <mat-label>Nuevo número</mat-label>
    <input matInput placeholder="Ingresa el nuevo número" #message>
  </mat-form-field>
</mat-card-content>
<mat-card-actions class="d-flex justify-content-between">
  <button mat-button class="rojo" (click)="close()">Cancelar</button>
  <button mat-button color="primary" [disabled]="message.value.length < 9" (click)="enviar(message.value)">Enviar</button>
</mat-card-actions>
