main {
  max-width: 100vw;
  height: 93vh;
  display: block;
  overflow: hidden;
}

.header {
  width: 96%;
  height: 50px;
  margin: 0 2%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.body {
  width: 100%;
  height: 93vh;
  display: inline-flex;
  background-color: #ebe6e6;
}
.contain{
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.component-l {
  width: 15%;
  height: 100%;
}
.component-c {

}
.component-r {
  width: 15%;
  height: 100%;
}


