$gradient: linear-gradient(to right, #1D2671, #C33764); // Gradiente del toolbar
.whatsappButton:hover{
  transition: 0.4s;
  transform: scale(1.2);
}
.escucha {
  font-size: 19px;
  font-family: 'Roboto';
  letter-spacing: 15px;
  cursor: pointer;
}
.escucha span:hover {
  text-shadow: 1px -1px 6px rgba(157, 157, 157, 0.75);
  transition: 0.4s all;
}
p {
  margin: 0;
}
.conectarbtn {
  min-width: 29%;
}
.title-for-toolBar {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: normal;
  cursor:pointer;
}
.toolbar {
  z-index: 99999;
  position: relative;
  width: 100%;
  height: 60px;
  display: inline-flex;
  background-color: white;
  color: white;
  font-weight: 600;
  justify-content: space-between;
}

.headerBlock1 {
  width: 25%;
  align-items: center;
  display:flex;
  justify-content: space-around;

  img{
    height: 100%;
  }

  div .mat-icon{
    color: #33353c;
  }
}

.headerBlock2 {
  width: 25%;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.headerBlock3 {
  display:flex;
  width:15%;
  align-items: center;
  justify-content: space-evenly;
  color: #33353c;
}


.extension {
  color:whitesmoke;
}

// estilos nuevo menu
// inicio del codigo nuevo menu
.openSidenavButton .mat-icon{
  transition: 0.3s;
}
.openSidenavButton .mat-icon:hover{
  transition: 0.4s;
  transform: scale(1.2);
}
.sidenavWrapper {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenavMenu{
  height: auto;
  background: white;
}
.sidenavColor{
  background: white;
}
.sidenavColorSub{
  background: white;
}

.menuButtonWrapper{
  height: 40px;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

.menuMain{
  width: 300px;
}

.menuChildrenWrapper{
  height: 100%;
  width: fit-content;
}

.menuChildren{
  height: 100%;
  display: flex;
  flex-direction: row;
  width: fit-content;
}

@keyframes showNames{
  0%{
    visibility: hidden;
    opacity: 0;
  }
  25%{
    opacity: 0;
    visibility: visible;
    transform: translateX(-10px);
  }
  100%{
    opacity: 1;
    transform: translateX(0);
  }
}
.subName{
  animation-name: showNames;
  animation-duration: 0.4s;
}
.mediumSize{
  transition: 0.4s;
  width: 250px;
}
.largeSize{
  transition: 0.4s;
  width: 324px;
}
.shortSize{
  transition: 0.4s;
  width: 200px;
}

.menuGrandChildrenWrapper{
  height: 100%;
  width: fit-content;
}

.menuGrandChildren{
  height: 100%;
  width: fit-content;
}

.grandChildrenMain{
  height: 100%;
  width: 260px;
}

.menuButton{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 12px;
  cursor: pointer;

  mat-icon{
    color: #273abe;
  }
}

.menuButtonActive{
  background-color: #0000001f;
}

.menuButton:hover{
  background-color: #0000001f;
}
.sub{
  background-color: #0000001f;
}
.sub:hover{
  background-color: #00000036;
}
.subGrand{
  background-color: #00000036;
}
.subGrand:hover{
  background-color: #00000046;
}
.submenuButtonActive{
  background-color: #00000036;
}
.menuButtonName{
  text-decoration: none;
  font-size: 20px;
  color: #273abe;
}
a {
  text-decoration: none;
  color: rgba(0,0,0,.87)
}

.redDisplay{
  animation-name: parpadeoRed;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  position: absolute;
  top: 60px;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 60px);
  z-index: 100;
  pointer-events: none;
}
@keyframes parpadeoRed {
  0%{
    background-color: #ff00004f;
  }
  50%{
    background-color: #ff000070;
  }
  100%{
    background-color: #ff00004f;
  }
}
