<!--Tono de llamada entrante-->
<iframe *ngIf="telefoniaServer" hidden src="https://mark46.ahorraseguros.mx:8089/httpstatus"></iframe>
<audio id="ringtone" loop src="../../../../assets/sounds/telephone-ring.mp3"></audio>
<!--<audio id="ringtone" loop src="../../../../assets/sounds/spongebob_hornpipe.mp3"></audio>-->
<!--HEADER-->
<header class="toolbar" role="banner">
  <!--    BLOCK CONTAINER 1-->
  <div class="headerBlock1 ">
    <!--BOTON PARA ABRIR CERRAR SIDENAV-->
    <div (click)="this.sidenav.opened ? closeSidenav() : this.sidenav.open()" class="openSidenavButton">
      <mat-icon>menu</mat-icon>
    </div>
    <img src="../../../assets/images/ahorraio.png">
    <!--    LOGOUT BUTTON-->
    <mat-menu #submenu="matMenu">
      <button mat-menu-item (click)="mostrarImagenes()">Trigarante Comunica</button>
      <button mat-menu-item (click)="gacetasDelMes()">Comunicados del mes</button>
      <button mat-menu-item (click)="procedimientosSteps()">Diferenciadores</button>
      <button mat-menu-item >
        <a href="https://sites.google.com/ahorra.io/biblioteca-documental/biblioteca-documental"
           target="_blank">
          Biblioteca documental
        </a>
      </button>
      <button mat-menu-item (click)="logOut()">Cerrar sesión</button>
    </mat-menu>
  </div>
  <!--    BLOCK CONTAINER 3-->

  <!--    BLOCK CONTAINER 2-->
  <div class="headerBlock3">
    <!--    ACCESSIBILITY ASSISTANT-->
    <!--    TRIGARANTE ESCUCHA-->
    <button mat-button class="escucha" (click)="trigaranteEscucha()">
    </button>

    <button mat-button class="profileIcon"
            matTooltip="Submenú"
            [matMenuTriggerFor]="submenu">
      <mat-icon>account_circle</mat-icon>
      <!--<span class=" userIcon">person_outline</span>-->
    </button>
    <div  class="whatsappButton" (click)="whatsappMessages()">
      <mat-icon>whatsapp</mat-icon>
    </div>
  </div>
</header>

<mat-sidenav-container class="sidenavWrapper" (backdropClick)="closeSidenav()" autosize>
  <!--Contenido del Sidenav-->
  <mat-sidenav #sidenav (keydown.escape)="closeSidenav()" disableClose mode="over" [ngClass]="{sidenavMenu: menuOpen === false, sidenavColor: menuOpen === true, sidenavColorSub: submenuOpen === true}">
    <div *ngFor="let menuButton of men; index as indexMenu" class="menuButtonWrapper">
      <div class="menuMain">
        <!-- botones del menu nomarles -->
        <div class="menuButton" *ngIf="!menuButton.children" [routerLink]="menuButton.rutas" (click)="closeSidenav()">
          <a class="menuButtonName">
            {{menuButton.name}}
          </a>
        </div>

        <!-- botones del menu que abren el submenu -->
        <div
          [ngClass]="{menuButton: true, menuButtonActive: indexMenu === buttonActivatedID && menuOpen}"
          *ngIf="menuButton.children"
          (click)="openMenu(indexMenu, menuButton.alias)"
        >
          <a class="menuButtonName">
            {{menuButton.name}}
          </a>
          <mat-icon>{{menuButton.icon}}</mat-icon>
        </div>
      </div>

      <!-- Sub Menu -->
      <div  class="menuChildrenWrapper" [@openClose]="menuOpen ? 'open' : 'close'" [hidden]="buttonActivatedID !== indexMenu">
        <div *ngFor="let menuButtonChildren of menuButton.children; index as indexSubMenu" class="menuChildren">
          <!-- SELECCIONA EL TAMAÑO DE LOS MENUS HIJOS -->
          <div
            [ngClass]="{
              shortSize:  false,
              mediumSize: false,
              largeSize:  true
            }"
          >
            <!-- botones del submenu sin hijos -->
            <div
              @slideMenu
              class="menuButton sub"
              *ngIf="!menuButtonChildren.grandChildren && buttonActivatedID === indexMenu && menuOpen === true"
              [routerLink]="menuButtonChildren.rutas"
              (click)="closeSidenav()"
            >
              <a class="menuButtonName subName">
                {{menuButtonChildren.name}}
              </a>
            </div>
            <!-- botones del submenu con hijos -->
            <div
              @slideMenu
              [ngClass]="{menuButton: true, sub: true, submenuButtonActive: indexSubMenu === subButtonActivatedID && submenuOpen === true}"
              *ngIf="menuButtonChildren.grandChildren && buttonActivatedID === indexMenu && menuOpen === true"
              (click)="openSubMenu(indexSubMenu, menuButtonChildren.alias)"
            >
              <a class="menuButtonName subName">
                {{menuButtonChildren.name}}
              </a>
              <mat-icon class="subName">{{menuButtonChildren.icon}}</mat-icon>
            </div>
          </div>

          <!-- Seccion Final del Menu -->
          <div class="menuGrandChildrenWrapper" [@openClose]="submenuOpen ? 'open' : 'close'" [hidden]="indexSubMenu !== subButtonActivatedID">
            <div *ngFor="let menuButtonLast of menuButtonChildren.grandChildren" class="menuGrandChildren">
              <!-- SELECCIONA EL TAMAÑA DEL MENU NIETO -->
              <div [ngClass]="{
                grandChildrenMain: true,
                gcmLarge: subMenuAlias === 'autPlazas'
              }">

                <!-- botones del submenu sin hijos -->
                <div @slideMenu class="menuButton subGrand" *ngIf="indexSubMenu === subButtonActivatedID && submenuOpen === true" [routerLink]="menuButtonLast.rutas" (click)="closeSidenav()">
                  <a class="menuButtonName subName">
                    {{menuButtonLast.name}}
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div><!--cierre for-->
      </div > <!-- cierre del sub menu-->
    </div>
  </mat-sidenav>

  <!--Contenido de la pagina-->
  <mat-sidenav-content class="sidenavView">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
