<button mat-icon-button style="position: relative; left: 95%; bottom: 20px; outline: none; border: none;" (click)="salir(true)" matTooltip="cerrar">
  <mat-icon>close</mat-icon>
</button>

<!--<mat-card style="position: relative; bottom: 31px;">-->
<mat-card-header>
  <mat-card-title style="margin-left: 120px;">RENOVACIÓN</mat-card-title>
</mat-card-header>

<mat-card-content>
  <div class="row">
    <div class="col-md-6">
      <mat-radio-group aria-label="Select an option">
        <ul>
          <li>
            <mat-radio-button value="1" #check1 checked style="margin-right: 20px;">Renovación</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="2" #check2 style="margin-right: 20px;">Reexpedir</mat-radio-button>
          </li>
          <li>
            <mat-radio-button value="3" #check3 style="margin-right: 20px;">Migrar</mat-radio-button>
          </li>
          <!--          <li>-->
          <!--            <mat-radio-button value="4" #check4 style="margin-right: 20px;">Conservar producto cliente</mat-radio-button>-->
          <!--          </li>-->
          <!--          <li>-->
          <!--            <mat-radio-button value="5" #check5 style="margin-right: 20px;">Conservar cliente</mat-radio-button>-->
          <!--          </li>-->
        </ul>
      </mat-radio-group>
      <!--        <div class="mb-5"></div>-->
    </div>
    <div class="col-md-6">
      <div *ngIf="check1.checked">
        <p><strong>Descripción:</strong></p>
        <p>Si el cliente no desea generar
          ningun tipo de cambio y quiere
          seguir con la misma compañía, en esta
          opción puedes renovar la póliza.</p>
        <mat-card-actions align="end">
          <button mat-button style="color: white;" (click)="quesRenovacion()">Renovar</button>
        </mat-card-actions>
      </div>
      <div *ngIf="check2.checked">
        <p><strong>Descripción:</strong></p>
        <p>Si el cliente busca cambiar el
          precio o algún detalle de su póliza
          <strong>sin cambiar de aseguradora</strong>,
          en esta opción puedes aplicar cambios.</p>
        <mat-card-actions align="end">
          <button mat-button style="color: white;" (click)="quesReexpedir()">Reexpedir</button>
        </mat-card-actions>
      </div>
      <div *ngIf="check3.checked">
        <p><strong>Descripción:</strong></p>
        <p>Si el cliente busca una mejor
          cotización para su renovación,
          en esta opción puedes realizar
          un nuevo registro.</p>
        <mat-card-actions align="end">
          <button mat-button style="color: white;" (click)="quesMigrar()">Migrar</button>
        </mat-card-actions>
      </div>
      <!--      <div *ngIf="check4.checked">-->
      <!--        <p><strong>Descripción:</strong></p>-->
      <!--        <p> </p>-->
      <!--        <mat-card-actions align="end">-->
      <!--          <button mat-button style="color: white;" (click)="conservarCliente()">Conservar producto cliente</button>-->
      <!--        </mat-card-actions>-->
      <!--      </div>-->
      <!--      <div *ngIf="check5.checked">-->
      <!--        <p><strong>Descripción:</strong></p>-->
      <!--        <p> </p>-->
      <!--        <mat-card-actions align="end">-->
      <!--          <button mat-button style="color: white;" (click)="conservarProductoCliente()">Conservar cliente</button>-->
      <!--        </mat-card-actions>-->
      <!--      </div>-->
    </div>
  </div>
</mat-card-content>
<!--</mat-card>-->
