.cont{
  display: flex;
  justify-content: center;
  gap: 5px;
}
.but-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}


.boxWrapper{
  width: 100%;
  margin-top: 20px;
  height: 45vh;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
}
.infoBox{
  width: 25%;
  height: 70%;
  background-color: #36419deb;
}
.titleCard p{
  color: #ffffff;
  margin-bottom: 1rem;
  text-align: center;
  width: 100%;
  font-size: 18px;

}
.cardBody{
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardBody p{
  font-size: 28px;
  margin: 0;
  color: #ffffff;
  width: auto;
  height: auto;
}

