<!--<section>-->
<!--  <div class="cont">-->
<!--    <mat-form-field appearance="fill" >-->
<!--      <mat-label>FECHA INICIO</mat-label>-->
<!--      <input matInput [matDatepicker]="picker"-->
<!--             [(ngModel)]="rangeDates[0]"-->
<!--             [value]="rangeDates[0]"-->
<!--             matTooltip="Agregar fecha inicio"-->
<!--             placeholder="Fecha Inicio"-->
<!--      >-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker></mat-datepicker>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field appearance="fill">-->
<!--      <mat-label>FECHA FIN</mat-label>-->
<!--      <input matInput [matDatepicker]="picker2"-->
<!--             [(ngModel)]="rangeDates[1]"-->
<!--             [value]="rangeDates[1]"-->
<!--             matTooltip="Agregar fecha inicio"-->
<!--             placeholder="Fecha Inicio"-->
<!--             (dateChange)="getFechas()"-->
<!--      >-->
<!--      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>-->
<!--      <mat-datepicker #picker2></mat-datepicker>-->
<!--    </mat-form-field>-->
<!--  </div>-->

<!--  <div class="but-cont">-->
<!--    <button mat-raised-button  *ngIf="puesto !== '8'" (click)="descargaLlamadas()">DESCARGA LLAMADAS</button>-->
<!--    <button mat-raised-button  *ngIf="puesto !== '8'" (click)="descargaAvance()">DESCARGA AVANCE POLIZAS</button>-->
<!--    <button mat-raised-button  *ngIf="puesto !== '8'" (click)="descargaAvanceEje()">DESCARGA AVANCE EJECUTIVOS</button>-->
<!--  </div>-->

<!--  <div class="but-cont">-->
<!--    <button mat-raised-button  *ngIf="puesto !== '8'" (click)="descargaPNC()">DESCARGA PNC</button>-->
<!--    <button mat-raised-button  *ngIf="puesto !== '8'" (click)="descargaLlamadasSalida()">DESCARGA MANUALES</button>-->
<!--    <button mat-raised-button  *ngIf="puesto !== '8'" (click)="descargaLlamadasEntrada()">DESCARGA ACD</button>-->
<!--  </div>-->


<!--  <div class="boxWrapper">-->
<!--    <mat-card class="infoBox">-->
<!--      <div class="titleCard">-->
<!--        <p>Total de Base</p>-->
<!--      </div>-->
<!--      <div class="cardBody">-->
<!--        <p *ngIf="totalBase; else spin">{{totalBase}}</p>-->
<!--        <ng-template #spin >-->
<!--          <mat-spinner color="accent" ></mat-spinner>-->
<!--        </ng-template>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--    <mat-card class="infoBox">-->
<!--      <div class="titleCard">-->
<!--        <p>Total de LLamadas ACD</p>-->
<!--      </div>-->
<!--      <div class="cardBody">-->
<!--        <p *ngIf="llamadasAcd; else spin">{{llamadasAcd}}</p>-->
<!--        <ng-template #spin >-->
<!--          <mat-spinner color="accent" ></mat-spinner>-->
<!--        </ng-template>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--    <mat-card class="infoBox">-->
<!--      <div class="titleCard">-->
<!--        <p>Total de LLamadas OUT</p>-->
<!--      </div>-->
<!--      <div class="cardBody">-->
<!--        <p *ngIf="llamadasOut; else spin">{{llamadasOut}}</p>-->
<!--        <ng-template #spin >-->
<!--          <mat-spinner color="accent" ></mat-spinner>-->
<!--        </ng-template>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--    <mat-card class="infoBox">-->
<!--      <div class="titleCard">-->
<!--        <p>Total de LLamadas</p>-->
<!--      </div>-->
<!--      <div class="cardBody">-->
<!--        <p *ngIf="llamadasTotal; else spin">{{llamadasTotal}}</p>-->
<!--        <ng-template #spin >-->
<!--          <mat-spinner color="accent" ></mat-spinner>-->
<!--        </ng-template>-->
<!--      </div>-->
<!--    </mat-card>-->
<!--  </div>-->
<!--</section>-->
