
button{
  /*margin-top: 30px;*/
}

button:hover{
  color: white;
}

.container-dash{
  width: 100%;
  height: 100%;
  padding: 4px 30px 10px 30px;
  border-top: 4px solid #7e306a;
  border-bottom: 4px solid #7e306a;
}

.dash-content{
  margin-top: 50px;
}

h1{
  color: black;
}

p{
  color: black;
  font-weight: 600;
}

.inlineForm-FinalValues {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 15px 0 0 0;
}

.formTotalValues-Inputs {
  width: 20%;
  margin: 0 6%;
}

input#mat-input-2 {
  font-size: 2rem;
  font-weight: bold;
}

input#mat-input-3 {
  font-size: 2rem;
  font-weight: bold;
}

input#mat-input-4 {
  font-size: 2rem;
  font-weight: bold;
}

.datesContainer {
  margin-top: 20px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
}

.dateStyle {
  width: 300px;
}
