<div class="container-dash">
  <h1> Crear Indicadores de Desempeño (KPI)</h1>
<!--  <mat-card>-->
    <mat-card-content>
<!--      <div class="datesContainer">-->
<!--            <label class="fechas-label">inicio</label>-->
<!--            <mat-form-field appearance="fill" class="dateStyle" >-->
<!--              <mat-label>Choose a date</mat-label>-->
<!--              <input matInput [matDatepicker]="fechaCompleta1" [(ngModel)]="rangeDates[0]"-->
<!--                     [value]="rangeDates[0]">-->
<!--              <mat-datepicker-toggle matSuffix [for]="fechaCompleta1"></mat-datepicker-toggle>-->
<!--              <mat-datepicker #fechaCompleta1></mat-datepicker>-->
<!--            </mat-form-field>-->

<!--            <label class="fechas-label">fin</label>-->
<!--            <mat-form-field appearance="fill" class="dateStyle">-->
<!--              <mat-label>Choose a date</mat-label>-->
<!--              <input matInput [matDatepicker]="fechaCompleta2" [(ngModel)]="rangeDates[1]"-->
<!--                     [value]="rangeDates[1]">-->
<!--              <mat-datepicker-toggle matSuffix [for]="fechaCompleta2"></mat-datepicker-toggle>-->
<!--              <mat-datepicker #fechaCompleta2></mat-datepicker>-->
<!--            </mat-form-field>-->

<!--          <button mat-raised-button type="button" (click)="getIndicadoresDesempeno()">Buscar Indicadores</button>-->
<!--      </div>-->
<!--      <form [formGroup]="crearPlazaForm">-->
<!--        <div class="form-group relativeLoad">-->

<!--        </div>-->
<!--      </form>-->
      <form [formGroup]="visualizarIndicadoresForm">
        <mat-form-field>
          <mat-label>Buscar Indicadores</mat-label>
          <mat-select formControlName="fecha">
            <mat-option *ngFor="let fecha of fechasArr" [value]="fecha" (click)="mostrarFormulario(fecha)">
              {{fecha}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div *ngIf="habilitar">
          <div class="row" class="inlineForm-FinalValues">
            <!--          <div class="col-2">-->
            <mat-form-field class="formTotalValues-Inputs">
              <mat-label>Cantidad Asignada *</mat-label>
              <input type="text" matInput formControlName="cantidadAsignada" placeholder="Ingresa el indicador" readonly>
            </mat-form-field>
            <!--          </div>-->
            <!--          <div class="col-3">-->
            <mat-form-field class="formTotalValues-Inputs">
              <mat-label>Cantidad de Descuento *</mat-label>
              <input type="text" matInput formControlName="cantidadDescuento" placeholder="Ingresa el indicador" readonly>
            </mat-form-field>
            <!--          </div>-->
            <!--          <div class="col-2">-->
            <mat-form-field class="formTotalValues-Inputs">
              <mat-label>Calificación final *</mat-label>
              <input type="text" matInput formControlName="calificacionFinal" placeholder="Ingresa el indicador" readonly>
            </mat-form-field>
            <!--          </div>-->
          </div>
          <div *ngIf="mostrarDetalles" formArrayName="complementoKPI">
            <div class="row" *ngFor="let detallesProducto of indicadoresArray.controls; let i = index" [formGroupName]="i">
              <div class="row" *ngIf="indicadoresArrayAux[i].controls.indicador.value !== ''" style="width: 100%;">
                <div class="col-4">
                  <mat-form-field>
                    <mat-label>Indicador {{i + 1}} *</mat-label>
                    <textarea type="text" matInput formControlName="indicador" placeholder="Ingresa el indicador" readonly></textarea>
                  </mat-form-field>
                </div>
                <div class="col-3">
                  <mat-form-field>
                    <mat-label>Definición *</mat-label>
                    <textarea type="text" matInput formControlName="definicion" placeholder="Ingresa el indicador" readonly></textarea>
                  </mat-form-field>
                </div>
                <div class="col-2" style="margin: 15px 0 0 0;">
                  <mat-form-field>
                    <mat-label>Unidad *</mat-label>
                    <input type="text" matInput formControlName="unidad" placeholder="Ingresa el indicador" readonly>
                  </mat-form-field>
                </div>
                <div class="col-1" style="margin: 15px 0 0 0;">
                  <mat-form-field>
                    <mat-label>Objetivo *</mat-label>
                    <input type="text" matInput formControlName="objetivo" placeholder="Ingresa el indicador" readonly>
                  </mat-form-field>
                </div>
                <div class="col-1" style="margin: 15px 0 0 0;">
                  <mat-form-field>
                    <mat-label>Real *</mat-label>
                    <input type="text" matInput formControlName="real" placeholder="Ingresa el indicador" readonly>
                  </mat-form-field>
                </div>
                <div class="col-1" style="margin: 15px 0 0 0;">
                  <mat-form-field>
                    <mat-label>Calificacion *</mat-label>
                    <input type="text" matInput formControlName="calificacion" placeholder="Ingresa el indicador" readonly>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
<!--      <div *ngIf="habilitar">-->
<!--        <div class="input-group">-->
<!--          <div class="input-group-prepend">-->
<!--            <p class="input-group-text">KPI Correspondiente:</p>-->
<!--            <input type="text" class="form-control col-md-1" [disabled]="true" [(ngModel)]= "kpiCorrespondiente">-->
<!--            <p class="input-group-text">Canditad de descuento:</p>-->
<!--            <input type="text" class="form-control col-md-1" [disabled]="true" [(ngModel)]= "cantidadescuento">-->
<!--            <p class="input-group-text">KPI Asignado:</p>-->
<!--            <input type="text" class="form-control col-md-1" [disabled]="true" [(ngModel)]= "kpiAsignado">-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;    <form>&ndash;&gt;-->
<!--        <div class="form-row" >-->
<!--          <div class="form-group col-md-2">-->
<!--            <input type="text"  placeholder="Indicador *">-->
<!--          </div>-->
<!--          <div class="form-group col-md-4">-->
<!--            <input type="text"  placeholder="Definición *">-->
<!--          </div>-->
<!--          <div class="form-group col-md-2">-->
<!--            <input type="text"  placeholder="Objetivo *">-->
<!--          </div>-->
<!--          <select class="custom-select col-md-2">-->
<!--            <option selected>Porcentaje %</option>-->
<!--            <option value="1">10</option>-->
<!--            <option value="2">20</option>-->
<!--            <option value="3">30</option>-->
<!--            <option value="1">40</option>-->
<!--            <option value="2">50</option>-->
<!--            <option value="3">60</option>-->
<!--          </select>-->
<!--        </div>-->
<!--        <div class="form-row">-->
<!--          <div class="form-group col-md-2">-->
<!--            <input type="text"  placeholder="Peso *">-->
<!--          </div>-->
<!--          <div class="form-group col-md-4">-->
<!--            <input type="text"  placeholder="Real *">-->
<!--          </div>-->
<!--          <div class="form-group col-md-2">-->
<!--            <input type="text"  placeholder="Calificación *">-->
<!--          </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;    </form>&ndash;&gt;-->
<!--      </div>-->
    </mat-card-content>
<!--  </mat-card>-->
</div>
