
.aviso{
  color: red;
  font-weight: bold;
  margin: auto;
  margin-left: 10% !important;
}

.form{
  margin-top: 30px !important;
  margin-bottom: 30px !important;
  width: 80%;
  margin: auto;
}

.file{
  font-weight: bold;
  color: grey;
}

mat-form-field{
  margin-bottom: 10px;
}

.button-modal{
  float: right;
}

