<mat-horizontal-stepper #stepper *ngIf="permisos?.EMI?.polizasEmitir?.crearPoliza">
  <mat-step>
    <ng-template matStepLabel>Cliente</ng-template>
    <!--    <ngx-cliente-reno [_idCliente]="idCliente" *ngIf="idCliente !== undefined" (datosSalida)="activarProductoCliente($event)"> En lo que se crea la tabla en la BD-->
    <!--    <ngx-cliente-emision [_idCliente]="idCliente" *ngIf="idCliente !== null" (datosSalida)="activarProductoCliente($event)" (datosCorrectosStep)="prodCliente()">-->
<!--    <ngx-cliente-emision [_idCliente]="idCliente" (datosSalida)="activarProductoCliente($event)" (datosCorrectosStep)="prodCliente()">-->
<!--    </ngx-cliente-emision>-->
  </mat-step>

  <mat-step>
    <ng-template matStepLabel >Producto Cliente</ng-template>
<!--    <ngx-producto-cliente-emision *ngIf = "idProductoClienteE !== 0" [idCliente]="idCliente"-->
<!--                                  [idProductoCliente] = "idProductoCliente"-->
<!--                                  [datosCotizacion] = "null"-->
<!--                                  [datosRespuesta]="null"-->
<!--                                  (_idProductoCliente)="activarRegistroPoliza($event)">-->
<!--    </ngx-producto-cliente-emision>-->
  </mat-step>

  <mat-step>
    <ng-template matStepLabel matTabContent>Registro Póliza</ng-template>
<!--    <ngx-registro-polizas-emision *ngIf = "idRegistroE !== 0 || idProductoClienteE !== 0"-->
<!--                                  (_idRegistroPoliza)="activarRecibos($event)">-->
<!--    </ngx-registro-polizas-emision>-->
  </mat-step>

  <mat-step>
    <ng-template matStepLabel matTabContent>Recibos</ng-template>
<!--    <ngx-recibos-emision *ngIf="actRecibos || idRecibosE !== 0"-->
<!--                         (nStepperInspeccion)="stepInspeccion()" (nStepper)="nextSteper($event)" (stepSeleccionado)="ultimoStep($event)">-->
<!--    </ngx-recibos-emision>-->
  </mat-step>

  <mat-step optional>
    <ng-template matStepLabel matTabContent>Pago</ng-template>
<!--    <ngx-pagos-emision [idRegistro]="idRegistro" *ngIf = "idRecibosE !== 0" (nextStepper)="nextSteper($event)">-->
<!--    </ngx-pagos-emision>-->
  </mat-step>

  <mat-step>
    <ng-template matStepLabel matTabContent>Inspeccion</ng-template>
<!--    <ngx-inspecciones-emision [idRegistro]="idRegistro" [idCliente] = "idCliente" *ngIf = "idRegistro">-->
<!--    </ngx-inspecciones-emision>-->
  </mat-step>
</mat-horizontal-stepper>
