<div class="container-header">
  <p>Aquí veras solicitudes pendientes o finalizadas.</p>
  <div class="dateWrapper">
    <p>Fecha: <span>{{fecha | date: 'dd/MM/yyyy'}}</span></p>
    <img src="../../../../../assets/images/reload.png" matTooltip="Recargar Página" (click)="getSolicitudes()"
         class="recargar">
  </div>
</div>

<div class="dash-content" *ngIf="!yaRegistro">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let solicitud of paginator" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b> FECHA: </b> {{ solicitud.fechaRegistro | date:'dd/MM/yy' }}
        </mat-panel-title>
        <mat-panel-title>
          {{ solicitud.nombre }}
        </mat-panel-title>
        <mat-panel-description>
          <b>ESTATUS:</b> <span
          [ngClass]=" solicitud.idEstadoVacacion === 1 ? 'pendiente' : solicitud.idEstadoVacacion === 2 ? 'completada' : solicitud.idEstadoVacacion === 4 ? 'cancelada': 'rechazada'"
        >{{ solicitud.descripcion}} </span>
        </mat-panel-description>
        <!--        <mat-panel-description>-->
        <!--          <b>Estado Empleado:</b> <span-->
        <!--          [ngClass]="solicitud.idestadoRRHH === 2 ? 'baja' : 'activo'"-->
        <!--        >{{ solicitud.idestadoRRHH === 2 ?'BAJA' : 'ACTIVO'}} </span>-->
        <!--        </mat-panel-description>-->
      </mat-expansion-panel-header>
      <div id="columna">
        <p *ngIf="solicitud.idEmpleadoSupervisor">AUTORIZADA / RECHAZADA POR: <span>{{solicitud.nombreAutorizo}}</span>.
        <p>FECHA INCIAL: <span>{{ solicitud.fechaInicio | date: 'dd/MM/yy' }}.</span></p>
        <p>FECHA FINAL: <span>{{ solicitud.fechaFinal | date: 'dd/MM/yy' }}.</span></p>
        <p>CANTIDAD DE DÍAS: <span>{{ solicitud.cantidadDias }}.</span></p>
        <p>COMENTARIO: <span>{{ solicitud.idEstadoVacacion === 4 ? solicitud.comentariosADP : solicitud.comentarios }}.</span></p>

      </div>

      <div *ngIf="solicitud.idEstadoVacacion === 2">
        <!--        <button class="boton1" (click)="finalizar(1, solicitud.id)" mat-raised-button>AUTORIZAR</button>-->
        <!--        <button class="boton2" (click)="finalizar(0, solicitud.id)" mat-raised-button>RECHAZAR </button>-->
        <button class="boton2" (click)="abrirDialog(solicitud.id)" mat-raised-button>CANCELAR </button>
      </div>
    </mat-expansion-panel>
  </mat-accordion>

  <mat-paginator [length]="length"
                 [pageSize]="pageSize"
                 [pageSizeOptions]="[10, 15, 20, 50]"
                 (page)="onPage($event)">
  </mat-paginator>
</div>
