<div class="container-header">
  <p *ngIf="!yaRegistro">Toma la asistencia de las personas que tienes a tu cargo</p>
  <div class="dateWrapper">
    <p>Fecha: <span>{{fecha | date: 'dd/MM/yyyy'}}</span></p>
<!--    <img src="../../../../../assets/images/reload.png" matTooltip="Recargar Página"  (click)="getHijos()"-->
<!--         class="recargar">-->
    <button [disabled]="proceso " mat-icon-button (click)="getHijos()"><mat-icon >refresh</mat-icon> </button>
  </div>
  <ng-template #noCargo>
    <p>No tienes asistencias que revisar en este momento</p>
  </ng-template>
</div>

<!--<div class="dash-content" >-->
<div class="dash-content" *ngIf="!yaRegistro; else noCargo">
  <div *ngFor="let hijo of getDatosArray.controls; let i = index">
    <form [formGroup]="hijo">
      <h2>ID: <span>{{hijo.get('idEmpleado').value}}</span></h2>
      <h2>{{hijo.get('nombre').value}}</h2>
      <mat-form-field>
        <mat-label>ASISTENCIA</mat-label>
        <mat-select formControlName="idEstadoAsistencia" [disabled]="hijo.get('bloquear').value === 1 || hijo.get('tomada').value === 1"
                    (selectionChange)="validarJustificacion(hijo.get('idEstadoAsistencia').value, hijo.get('idEmpleado').value, i)">
          <mat-option [value]="option.id" *ngFor="let option of hijo.get('tomada').value === 1 ? estadosCompletos : estados">
            {{option.descripcion}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <h2>Turno: {{hijo.get('turno').value}}</h2>
      <button mat-raised-button (click)="guardar(i)" [disabled]="hijo.get('tomada').value === 1" >Guardar</button>
    </form>
  </div>
<!--  <div class="buttonWrapper">-->
<!--    <button mat-raised-button (click)="test()" >Guardar</button>-->
<!--  </div>-->
</div>


