<section fxLayoutAlign="center center" *ngIf="!hayCorte; else siCorte">
  <h2>No hay cortes por el momento</h2>
</section>

<ng-template #siCorte>
  <div class="dash-content">
    <div class="tableWrapper" *ngIf="yaHayDatos; else cargando">
      <table mat-table fixedLayout="true" [dataSource]="asistencias.datos">

        <!-- Name Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="stickID backTitle">ID</th>
          <td mat-cell *matCellDef="let elementID" class="stickID backData"> {{elementID.id}} </td>
        </ng-container>
        <!-- Position Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="stickNom backTitle"> NOMBRE</th>
          <td mat-cell *matCellDef="let element" class="stickNom backData"> {{element.nombre}} </td>
        </ng-container>
        <ng-container *ngFor="let column of asistencias.diasFinal; let i=index" [matColumnDef]="column.def">
          <th mat-header-cell *matHeaderCellDef class="normalCol">{{ column.header }}</th>
          <td mat-cell *matCellDef="let row; index as j" class="nomarlCol">
            <div class="men2">
              <button mat-button [ngClass]="row.asistencias[i].estadoAsistencia === 15 ? 'btnPapaSA' : row.asistencias[i].solicitud === true ? 'btnPapaSoli' : 'btnPapa'" (click)="edit(row, column)" >{{row.asistencias[i][column.def]}}
                <span *ngIf="column.def === actualColumn && row.nombre === actualRow && menuAbierto" class="btnsel">____</span>
              </button>
              <div *ngIf="column.def === actualColumn && row.nombre === actualRow && menuAbierto"
                   class="menu"
                   fxLayout="column">
            <span *ngFor="let type of asisTypes"
                  class="estados"
                  (click)="updateAsistencia(row.asistencias[i].idAsistencia, type.id, row.id)">
              {{type.descripcion}}
            </span>
              </div >
              <div *ngIf="menuAbierto"
                   class="todo"
                   (click)="showHide()">
              </div>
            </div>

          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: 'header-1'"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <ng-template #cargando >
      <div class="load"  >
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
    <div class="moviendo" *ngIf="moviendo"  >
      <mat-spinner></mat-spinner>
    </div>
  </div>
</ng-template>


